@{
    ViewData["Title"] = "Home Page";
}
<body style=""
    <div class="text-center">
        <h1 class="display-4">Welcome to Bkp's Gas Company Web Store</h1>
        <img class="" src="https://wallpaperaccess.com/full/2891367.jpg" alt="W3Schools.com">
    </div>
