@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We like gas and we like fun stuff :)</p>
<h1>we are a company which aims to bring hope to many people across the city, as those who have lost the "light", shall supported by us to shine through their "fire"</h1>
<img class="" src="https://wallpaperaccess.com/full/2891367.jpg" alt="W3Schools.com">